<div class="container">
  <div id="welcome">
    <h1>Welcome to Bellwether!</h1>
    <p>Select a Caltrain Station and hit Alert ME! to<br>be alerted when you are nearing your stop.</p>
  </div>
  <div id="map">
    <!-- MAP CENTERED ON SELF GOES HERE -->

    <!-- MAP CENTERED ON SELF GOES HERE -->
  </div>
  <script>
    var map;
    function initMap() {
      map = new google.maps.Map(document.getElementById('map'), {
        center: {lat: -34.397, lng: 150.644},
        zoom: 8
      });
    }
  </script>
  <div id="station-holder">
    <div class="station">
      <select id="station-selector">
        <% @stations.each do |station| %>
          <option value="<%= station.id %>"><%= station.name %></option>
        <% end %>
      </select>
    </div>
    <div class="station">
      <input class="login-submit" id="alert-button" type="submit"  value="Alert Me!"></input>
    </div>
  </div>
</div>
