<div class="login">
  <form class="form" action="/users/:id" method="GET">
    <div class="form-control">
      <input type="text" name="username" placeholder="Username">
    </div>
    <div class="form-control">
      <input type="text" name="password" placeholder="Password">
    </div>
    <div class="form-control">
      <input class="login-submit" type="submit"  value="Log In"></input>
    </div>
  </form>
</div>
