<div class="signup">
  <form class="form" action="/users" method="POST">
    <div class="form-control">
      <input type="text" name="email" placeholder="Email">
    </div>
    <div class="form-control">
      <input type="text" name="username" placeholder="Username">
    </div>
    <div class="form-control">
      <input type="password" name="password" placeholder="Password">
    </div>
    <div class="form-control">
      <input class="login-submit" type="submit"  value="Create Free Account"></input>
    </div>
  </form>
</div>
