<div class="sign-in-form">
  <table class="sign-in-table">
    <tr>
      <th>
        <form class="form" id="login" action="/users/:id" method="GET">
            <input type="submit"  value="Login"></input>
          </div>
        </form>
      </th>
      <th>
        <form class="form" id="signup" action="/users/:id" method="GET">
            <input type="submit"  value="Sign Up"></input>
          </div>
        </form>
      </th>
    </tr>
  </table>
</div>
