<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS_JS_API_KEY'] %>"
    async defer></script>

  <title>Bellwether</title>
</head>
<body>
  <nav class="navbar-static-top">
    <div class="wrapper-full">
      <div class="navbar-left">
        <div id="title">
          <h1>Bellwether</h1>
        </div>
      </div>
      <% if session[:username] %>
        <div class="navbar-right">
          <div id="session">
            <a href="/users/1">@<%= session[:username] %></a>
          </div>
          <div id="logout">
            <form id="logout-button" action="/users/logout" method="POST">
              <button type="submit">Logout</button>
            </form>
          </div>
        </div>
      <% end %>
    </div>
  </nav>


  <%= yield %>

  <footer>
    <p id="copyright">&copy; 2016 Cyrus Vattes</p>
  </footer>
</body>
</html>
